body {
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	font-family: Verdana, Trebuchet, Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
}

#phphtmllib {
	font-family: arial, helvetica;
	font-size: 10pt;
}

#headerLeft {
	background-color: #AFB5FF;
	width: 220px;
	height: 50px;
	float: left;
}

#headerRight {
	background-color: #AFB5FF;
	float: left;
	height: 50px;
	width: 560px;	
}

.pageheader {
	background-color: #AFB5FF;	
	width: 100%;
	height:52px;
	padding-top: 2px;	
}

.navheader {
	background-color: #AFB5FF;	
	width: 100%;
	height:19px;
	padding-top: 2px;
	float: left;	
}

.subheader {
	background-color: #5969FF;	
	width: 100%;
	float: left;
	border-top: 2px solid #999999;
	border-bottom: 2px solid #999999;
}


#maincontent {
	background-color:#ffffff;
	width:100%;	
	float: left;
}		
		
.leftblock {
        width: 180px; 
	padding-top: 10px;
	
        background-color: #eeeeee;
	vertical-align: top;
}
		
.rightblock {
        width: 100%;
	padding: 20px 20px 0px 20px;
	vertical-align: top;
}
		
#footerblock {	
	float: left;
	width: 100%;
}

.headsubtitle {
	font-size: 10pt;
	font-weight: bold;
	background-color: #5969FF;
	color: #FFFFFF;
        width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;	
}

#subheadleft {
	float: left;
        background-color: #5969FF;	
	padding: 5px 0px 0px 5px;
	margin-bottom: 5px;
}
#subheadright {        
	float: right;
	background-color: #5969FF;
	padding: 5px 5px 0px 0px;
	margin-bottom: 5px;
}

.headseperator {
	font-size: 1px;
	line-height: 1px;
	background-color: #999999;
	float: left;	
	width: 100%;
}

		

TD.divider {
	width: 1px;
	font-size: 1px;
	line-height: 1px;
	border-left: 1px dashed #999999;
}


.infoboxBar {
	font-size: 1px; 
	height: 12px;
	background-color: #000000;
	margin-bottom: 3px;
}


.newsheader {
	background-color: #f1f1f1;
	padding: 5px 5px 5px 5px;
	margin: 0px -5px 0px -5px;
	height: 15px;
}
		
.infoboxHeader {
	font: 10px Verdana;
	color: #fff;
	margin-left: 5px;
}

.infoboxitem {
	font-size: 10px;
	line-height: 20px;
}

.infoboxbody {
	border: 1px solid #c0c0c0;
	padding: 5px 5px 5px 5px;
}

.outline {
	border: 1px solid #c0c0c0; 
}

.quotebox {
	margin: 0px 10px 0px 5px;
	line-height: 16px;
	padding: 15px;
	text-align: justify;
	background-color: #fffdf1;
	border: 1px dashed #000000;
}

.codebox {
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-align: left;
	margin: 0px 10px 0px 5px;
	padding: 15px;
	background-color: #f1f1f1;
}

.threadmap {
	font-size: 11px;
	line-height: 20px;
	/* font-size: 11px;
	line-height: 20px; */
}


.articleinfo {
	height:100px;
	font-size: 10px;
}		
		
.required {
	color: #CC0000;
}
      	
		
.toolbar-button	{
	background-color: #F1F1F1; 
	border: 1px solid buttonface;
	margin: 1px; 
}
			
.toolbar-raised { 
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	background-color: #F1F1F1;
	margin: 1px;
}
			
.toolbar-pressed {
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	background-color: #F1F1F1;
	margin: 1px;
}

.ulist {
	font-size: 10pt;
	line-height: 12pt;
}


.h1 {
  font-family: arial;
  font-size: 1.5em;
  font-weight: bold;
  color: #999999;
}

.h2 {
  font-family: arial;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}
